.datePicker {
  border: 1px solid #ededed !important;
  border-radius: 5px;
  width: 100% !important;
  padding: 8px 10px;
  font-size: 15px;
}

.react-datepicker-wrapper {
  width: 100% !important;
}