.datePicker {
    border: 1px solid;
    border-radius: 5px;
    width: 140px;
    padding: 8px 15px;
    font-size: 15px;
    margin-right: 5px;
    background-color: inherit;
    border-color: inherit;
    &:hover {
        border-color: var(--chakra-colors-gray-300);
    }
}

.disabled {
    pointer-events: none;
    border-color: inherit;
}

.icon {
    color: var(--chakra-colors-gray-500);
}

.btnClear {
    margin-right: 10px;
    &::after {
        background-color: var(--chakra-colors-gray-400);
    }
}