.datePicker {
    border: 1px solid;
    border-radius: 5px;
    width: 140px;
    padding: 8px 15px;
    font-size: 15px;
    background-color: inherit;
    border-color: inherit;
    &:hover {
        border-color: var(--chakra-colors-gray-300);
    }
    @media (max-width: 1024px) {
        width: 110px; /* Adjust for smaller screens */
        padding: 8px 8px;
    }

    @media (max-width: 576px) {
        width: 96px; /* Further adjustment for even smaller screens */
        padding: 4px 8px;
    }
}

.disabled {
    cursor: not-allowed;
    border-color: inherit;
    opacity: 0.5;
}

.icon {
    color: var(--chakra-colors-gray-500);
}

.btnClear {
    margin-right: 10px;
    &::after {
        background-color: var(--chakra-colors-gray-400);
    }
}