.container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  .btnShowMore {
    font-size: 14px;
  }

  .left,
  .right {
    width: 48%;
  }

  .dates {
    display: flex;
    flex-wrap: wrap;

    .date {
      margin-right: 5px;
      margin-bottom: 10px;
      width: 100px;
      border-radius: 5px;
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      padding: 5px;
    }

    .countedDate {
      border-bottom: 4px solid var(--chakra-colors-green-700);
    }
  }
}

.btnExport {
  text-align: right;
  // margin-right: 30px;
  // margin-top: 10px;
  svg {
    color: var(--chakra-colors-gray-500);
  }
}