.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.wrapper {
    display: flex;
    width: 100%;
    gap: 0;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
}
.wrapper > div {
    width: 100%;
    margin-bottom: 10px !important;
}
@media (min-width: 576px) {
    .wrapper > div {
        width: 46%;
    }
}

@media (max-width: 576px) {
  .listActionContainer {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    margin-left: 0 !important;

    > button,
    > .actions {
      margin: 0 !important;
      flex-shrink: 0;
      width: 100% !important;
      margin-top: 10px !important;
    }

    .actions {
      margin: 0 !important;
      flex-shrink: 0;
      width: 70% !important;
      margin-top: 10px !important;
    }

    .listBtnActionTask {
      display: flex !important;
      flex-direction: row !important;
      justify-content: center !important;
      align-items: center !important;
      width: 100%;
      gap: 4px !important;
      margin-left: 0 !important;
    }

    .btnApproveTask,
    .btnRejectTask {
      width: 100% !important;
      margin-right: 0 !important;
      margin-bottom: 10px !important;
    }
  }
}

@media (max-width: 768px) {
  .modalContent {
    width: 90vw !important;
  }
}
.modalContent {
  padding: 10px !important;
  max-width: 700px !important;
}

:global(.chakra-modal__body) {
  overflow: auto !important;
  max-height: 80vh !important;
}
.modalBody {
    max-height: 70vh;
    overflow-y: scroll;
}
.containerSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    min-width: 30vw;
    min-height: 50vh;
}
.listActionContainer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
    align-items: center;
  .btnWFDetail{
    grid-column: 1 / 2;
  }
    .actions {
      margin-top: 10px;
      display: flex;
      align-items: center;
      flex-direction: row;
      width: auto;
      gap: 5px;
      grid-column: 2 / 3;
      .spinner {
        min-width: 24px;
        margin-right: 5px;
        align-self: center;
      }
    }
  
    .listBtnActionTask {
      display: flex;
      justify-content: flex-end;
      grid-column: 3 / 4;
    }
    .btnApproveTask {
      margin-right: 10px;
    }
  
    .btnRejectTask {
      min-width: 6rem;
    }
  }
  