.datePicker {
  border: 1px solid #ededed !important;
  border-radius: 5px;
  width: 100% !important;
  padding: 8px 10px;
  font-size: 15px;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.rmdp-container {
  width: 100% !important;
}

.field {
  width: 100%;
  display: flex;
  gap: 3px;
  flex-direction: column;
}
