.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.wrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper  > div {
    width: 50%;
    margin-bottom: 10px !important;
}

.modalBody {
    max-height: 70vh;
    overflow: scroll;
}

.listItem {
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;  
    width: 100%;

    display: flex;
    align-items: center;
}

.actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 15px;

    .spinner {
        min-width: 24px;
        margin-right: 5px;
    }
}

.containerSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    min-width: 30vw;
    min-height: 50vh;
}